/* Page specific styles for Booking Form */

.form-row {
    margin-bottom: 20px;
}

input[readonly] {
    cursor: default;
    border-color: #eee;
}

.btn-primary {
    margin-top: 20px;
}